<script lang="ts" setup>
import { ref } from "vue";

const text = ref("SMILE");
</script>

<template>
  <div class="d-flex justify-space-around align-center bg-grey-lighten-4">
    <div class="ma-4">
      <v-img
        class="bg-white"
        width="300"
        :aspect-ratio="1"
        src="smile.png"
        cover
      ></v-img>
    </div>

    <div class="ma-4">
      <h1 class="text-center">{{ text }}</h1>
      <br />
      <v-btn block width="600px" onclick="text1"> ANGRY </v-btn>
      <br />
      <v-btn block width="600px"> CUTE </v-btn>
      <br />
      <v-btn block width="600px"> EXCITED </v-btn>
      <br />
      <v-btn block width="600px"> PAIN </v-btn>
      <br />
      <v-btn block width="600px"> SHOCKED </v-btn>
      <br />
      <v-btn block width="600px"> SMILE </v-btn>
      <br />
    </div>
  </div>
</template>

<style scoped></style>
