<script setup lang="ts">
let result = 0;

const incre = () => {
  result = +1;
};

const de = () => {
  result = -1;
};
</script>
<template>
  <v-row>
    <v-col> FirstComponent </v-col>
    <v-col> SecondComponent </v-col>
  </v-row>
  <v-row>
    <v-col> {{ result }} </v-col>
    <v-col> {{ result }} </v-col>
  </v-row>

  <v-row>
    <v-col> <v-btn @click="incre"> INCREMENT </v-btn> </v-col>
    <v-col> <v-btn @click="de"> DECREASE </v-btn> </v-col>
  </v-row>
</template>
